/* You can add global styles to this file, and also import other style files */

@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "variables";
@media print {
    .breadcrumb {
        display: none !important;
    }
}

.forms {
    position: relative;
    top: 0px;
    min-width: 250px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    margin-bottom: 100px;
    .content-table {
        max-width: 100%;
        overflow-x: auto;
        .form-row {
            min-width: 1200px;
        }
    }
    .form-row {
        padding: 5px;
    }
    .checkInRow {
        display: flex;
    }
    .labelGroup {
        display: block;
        width: 100%;
        padding-left: 8px;
        font-weight: bold;
        color: $main-color;
        .alert {
            color: red;
        }
    }
    select.option-icon .select-selected {
        font-family: 'FontAwesome';
        i {
            font-size: 20px;
            color: green;
        }
    }
    span.required {
        color: red;
    }
    h3 {
        text-align: center;
        font-size: 18px;
        color: $main-color;
        text-transform: uppercase;
    }
    .help-block {
        font-size: 12px;
    }
    .bottom {
        background-color: rgba(255, 255, 255, 0.8);
        border-top: 1px solid #ddd;
        clear: both;
        padding: 14px;
    }
    .back-button {
        text-align: center;
        margin-top: 20px;
        a {
            color: white;
        }
    }
    .social-buttons {
        margin: 12px 0;
        a {
            width: 100%;
        }
    }
    .form-group {
        margin-bottom: 10px;
        .btn {
            float: none;
            width: 100%;
        }
    }
    .buttons-row {
        display: flex;
        margin: 0 auto;
        .btn {
            width: 100%;
            max-width: 230px;
            margin: 5px;
        }
    }
    .btn-fb {
        color: #fff;
        background-color: #3b5998;
    }
    .btn-fb:hover {
        color: #fff;
        background-color: #496ebc;
    }
    .btn-tw {
        color: #fff;
        background-color: #55acee;
    }
    .btn-tw:hover {
        color: #fff;
        background-color: #59b5fa;
    }
    .form-check-input {
        width: 20px;
        height: 20px;
    }
    .loading-container {
        position: relative;
        .custom-class {}
    }
}

.status i {
    font-size: 25px;
}

.status i.activated {
    color: green;
}

.status i.desactivated {
    color: red;
}

.loading-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.loading {
    position: relative;
}

.custom-class {
    top: 0;
    z-index: 2002;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000ba;
    border-radius: 3px;
}

@media (min-width: 576px) {}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .section {
        p {
            text-align: justify;
        }
        ul {
            padding-left: 40px;
            li {
                text-align: left;
                list-style-position: normal;
            }
        }
    }
    .forms {
        position: relative;
        // left: 0;
        // right: 0;
        // margin: 0 auto;
        // width: 80%;
        // bottom: 130px;
        // top: auto;
        .back-button {
            text-align: left;
            margin-top: 20px;
        }
        .content-table {
            max-width: 100%;
            overflow-x: hidden;
            .form-row {
                min-width: 100%;
            }
        }
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .section {}
    .forms {
        .buttons-row {
            margin-left: auto;
            margin-right: 0;
            .btn {}
        }
        #tab-documentos {
            .card-body {
                margin-left: 30px;
            }
        }
        h3 {
            text-align: left;
        }
        top: 0px;
        // left: auto;
        // right: 5%;
        // width: 450px;
        // top: 130px;
        // bottom: auto;
        // margin: 0 auto;
    }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}