<div [@routerTransition]>

    <app-page-header [heading]="'Evaluación Estudiante'" [icon]="'fa fa-tags'"></app-page-header>
    <div class="forms  addForm" id="PlanificacionDetalleForm" *ngIf="isToAdd || isToUpdate">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <form role="form" [formGroup]="planificacionEvaluacionForm" (ngSubmit)="onSubmit()" accept-charset="UTF-8" id="registerForm">
                        <hr class="d-block" />
                        <h3><i *ngIf="isAsignaturaSelected" class="fa fa-check" aria-hidden="true"></i> Selecciona una Asignatura
                        </h3>
                        <hr class="d-block" />
                        <div class="form-row">
                            <div class="form-group col-md-12 col-lg-6">
                                <select class="custom-select" id="textAsignaturaID" formControlName="asignatura" (change)="getPlanificacionEstudianteById($event)" [ngClass]="{ 'is-invalid': submitted && p.planificacionID.errors }">
                  <option value="" disabled>Seleccion la Asignatura</option>
                  <ng-container *ngFor="let planificacion of planificaciones">
                    <option value="{{ planificacion.id }}">{{ planificacion.asignatura.nombre  }} -
                      {{planificacion.grupo.nombre}}</option>
                  </ng-container>
                </select>
                            </div>
                        </div>
                        <hr class="d-block" />
                        <h3><i class="fa fa-list" aria-hidden="true"></i> Lista de Estudiantes
                        </h3>
                        <hr class="d-block" />
                        <div class="content-table">
                            <div class="form-row" *ngIf="planificacionSelected">
                                <div class="form-row form-header">
                                    <div class="col-1 text-center">
                                        <label class="labelGroup"></label>
                                    </div>
                                    <div class="form-group col-12 col-lg-5">
                                        <label class="labelGroup">Nombre</label>
                                    </div>
                                    <ng-container *ngFor="let evaluacion of evaluaciones">
                                        <div class="col-lg-2">
                                            <label class="labelGroup">{{ evaluacion.nombre }}</label>
                                        </div>
                                    </ng-container>
                                </div>
                                <ng-container *ngFor="let estudiante of orderBy.transform(planificacionSelected[0].planificacionEstudiante, 'estudiante.nombre')">
                                    <div class="form-row form-body">
                                        <div class="col-1 text-center">
                                            <label class="labelGroup"></label>
                                        </div>
                                        <div class="form-group  col-lg-5">
                                            <input type="text" class="form-control" readonly="true" placeholder="{{estudiante.estudiante.nombre}} {{estudiante.estudiante.apellidPat}} {{estudiante.estudiante.apellidoMat}} ">
                                        </div>
                                        <ng-container *ngFor="let evaluacion of evaluaciones">
                                            <div class="col-lg-2">
                                                <input type="number" class="form-control" placeholder="{{ evaluacion.nombre }}" />
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>