<div class="section section-emprendedurismo">
  <div class="background " [ngStyle]="{'background-image':'url(' + emprendedurismo[0].url + ')', 'background-size':'cover', 'background-position':'center top 40%' }">
    <!--       <img  class="img-fluid" [src]="emprendedurismo[0].url" [alt]="emprendedurismo[0].alt"> -->
  </div>
  <div class="title-box">
    <div class="text">
      <span [innerHtml]="emprendedurismo[0].mainTitle | safeHtml ">
        </span>
    </div>
  </div>
  <div class="content-text">
    <div class="container">
      <div class="row ">
        <div class="col-sm-12 col-md-12 offset-md-0">
          <h1 [innerHtml]="emprendedurismo[0].subTitle | safeHtml"></h1>
          <div class="boxes">
              <div class="box">
                <div class="description ">
                  <div [innerHtml] = "emprendedurismo[0].description[0].text | safeHtml "></div>
                  <div class="row centered">
                    <div class="col-sm-6">
                      <div class="img-box">
                        <img class="img-fluid" [src]="emprendedurismo[0].description[0].url1" [alt]="emprendedurismo[0].description[0].alt1">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div  class="img-box">
                        <img class="img-fluid" [src]="emprendedurismo[0].description[0].url2" [alt]="emprendedurismo[0].description[0].alt2">
                        <div class="caption-image" [innerHtml] = "emprendedurismo[0].description[0].information | safeHtml "></div>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
         <div class="col-sm-12 col-md-12 offset-md-0">
          <div class="boxes">
              <div class="box">
                <div class="description">
                  <div class="row">
                    <div class="col-sm-6">
                        <div [innerHtml] = "emprendedurismo[0].description[1].text | safeHtml "></div>
                    </div>      
                    <div class="col-sm-6">
                      <div  class="img-box">
                        <img class="img-fluid" [src]="emprendedurismo[0].description[1].url1" [alt]="emprendedurismo[0].description[1].alt1">
                        <div class="caption-image" [innerHtml] = "emprendedurismo[0].description[1].information | safeHtml "></div>
                      </div>
                    </div>
                  </div>

                </div>          
              </div>
          </div>
        </div>
      </div>
      <div class="row">
         <div class="col-sm-12 col-md-12 offset-md-0">
          <div class="boxes">
              <div class="box">
                <div class="description">
                  <div class="row">
                    <div class="col-sm-12">
                        <h2 [innerHtml] = "emprendedurismo[0].description[2].title | safeHtml "></h2>    
                        <div [innerHtml] = "emprendedurismo[0].description[2].text | safeHtml "></div>
                    </div>      
                    <div class="row centered">
                      <div class="col-sm-6">
                        <div class="img-box">
                          <img class="img-fluid" [src]="emprendedurismo[0].description[2].url1" [alt]="emprendedurismo[0].description[2].alt1">
                          <div class="caption-image" [innerHtml] = "emprendedurismo[0].description[2].information | safeHtml "></div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div  class="img-box">
                          <img class="img-fluid" [src]="emprendedurismo[0].description[2].url2" [alt]="emprendedurismo[0].description[2].alt2">
                        </div>
                      </div>
                  </div>
                  </div>
                </div>          
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>