<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Universidad Juan Pablo II - Matagalpa</h1>
            <h2>Gestion Universitaria Online</h2>
            <form role="form" [formGroup]="userForm" (ngSubmit)="onSubmit()" accept-charset="UTF-8" id="registerForm">

                <hr />
                <!-- Star Row Nombre y Apellidos -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="textEmail" class="labelGroup"><i class="fa fa-envelope-o" aria-hidden="true"></i> Correo
                    Electrónico <span> ( *Campo Opcional)</span></label>
                        <input type="text" class="form-control" id="textEmail" placeholder="Correo Electrónico" formControlName="email" />
                    </div>
                </div>

                <!-- Star Row Información de Usuario -->
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="textPass" class="labelGroup"><i class="fa fa-key" aria-hidden="true"></i>
                    Contraseña</label>
                        <input type="password" class="form-control" id="textPass" placeholder="Contraseña" required formControlName="password" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="textPassConfirm" class="labelGroup"><i class="fa fa-key" aria-hidden="true"></i> Confirmar
                    Contraseña</label>
                        <input type="password" class="form-control" id="textPassConfirm" placeholder="Repetir Contraseña" required />
                        <div *ngIf="submitted && u.tipo.errors" class="invalid-feedback">
                            <div *ngIf="u.tipo.errors.required">Digite Nuevamente la Constraseña</div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <div class="form-row">
                    <div class="buttons-row">
                        <button class="btn btn-success" type="submit" [disabled]="userForm.pristine">Actualizar
                Información</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>