<div [@routerTransition]>

    <app-page-header [heading]="'Planificaciones'" [icon]="'fa fa-tags'"></app-page-header>
    <div class="forms  addForm" id="PlanificacionDetalleForm" *ngIf="isToAdd || isToUpdate">
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr class="d-block" />
                    <h3><i class="fa fa-id-card-o" aria-hidden="true"></i> Descripción</h3>
                    <hr class="d-block" />
                    <!-- star Form -->
                    <form role="form" [formGroup]="planificacionDetalleForm" (ngSubmit)="onSubmit()" accept-charset="UTF-8" id="registerForm">
                        <div class="form-row">
                            <div class="form-group col-md-12 col-lg-6">
                                <label class="labelGroup">Seleccion la Planificación</label>
                                <select class="custom-select" id="textPlanificacionID" formControlName="planificacionID" [ngClass]="{ 'is-invalid': submitted && p.planificacionID.errors }">
                                <option value="" disabled>Seleccion la Planificación</option>
                                <ng-container *ngFor="let planificacion of planificaciones">
                                  <option value="{{ planificacion.id }}">{{ planificacion.nombre }}</option>
                                </ng-container>
                              </select>
                                <div *ngIf="submitted && p.planificacionID.errors" class="invalid-feedback">
                                    <div *ngIf="p.planificacionID.errors.required">Por favor Seleccione la Planificación</div>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->
                        <div class="form-row">
                            <div class="form-group col-md-12 col-lg-6">
                                <label class="labelGroup">Seleccion la Carrera</label>
                                <select class="custom-select" id="textCarreraID" [ngClass]="{ 'is-invalid': submitted && p.carreraID.errors }">
                              <option value="" disabled>Seleccion la Carrera</option>
                              <ng-container *ngFor="let carrera of carreras">
                                <option value="{{ carrera.id }}">{{ carrera.nombre }}</option>
                              </ng-container>
                            </select>
                                <div *ngIf="submitted && p.carreraID.errors" class="invalid-feedback">
                                    <div *ngIf="p.carreraID.errors.required">Por favor Seleccione la Carrera</div>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->

                        <div class="form-row">
                            <div class="form-group col-md-2 offset-md-1">
                                <div class="text-center success-button">
                                    <button type="button" class="btn btn-success" (click)="goBack()">Cancelar</button>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="text-center success-button">
                                    <button class="btn btn-success" type="submit" [disabled]="planificacionDetalleForm.pristine">Guardar</button>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->

                        <!-- <div class="text-left">
            <a  routerLinkActive="router-link-active" class="btn btn-info">Regresar Atras</a>
        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="datatableview" *ngIf="isToList">
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr class="d-block" />
                    <h5><i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp;Vista de Planificaciones</h5>
                    <hr class="d-block" />
                    <table class="table table-striped table-responsive table-hover" [mfData]="planificacionDetalles" #mf="mfDataTable" [mfRowsOnPage]="50">
                        <thead>
                            <tr>
                                <th style="widows: auto; min-width:145px;">
                                    <span><i class="fa fa-cog" aria-hidden="true"></i> Opciones</span>
                                </th>
                                <th style="width: auto">
                                    <mfDefaultSorter by="id"><i class="fa fa-sort" aria-hidden="true"></i> Código
                                    </mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let planificacion of mf.data">
                                <td>
                                    <button type="button" class="btn btn-outline-primary" (click)="addPlanificacionDetalle()"><i
                      class="fa fa-plus" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-outline-primary" (click)="updatePlanificacionDetalle(planificacion)"><i class="fa fa-pencil"
                      aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-outline-primary" (click)="onDeleted(planificacion)"><i
                      class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                                <td>{{ planificacion.id }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-outline-primary" (click)="addPlanificacionDetalle()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                                </td>
                                <td>
                                    <div class="loading-container">
                                        <div class="loading">
                                            <ng-template #customLoadingTemplate>
                                                <div class="custom-class">
                                                    <h5>
                                                        Cargando...
                                                    </h5>
                                                </div>
                                            </ng-template>
                                            <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>